<div Id="header">
  <h1>Christopher Medeiros</h1>
</div>
<script type="text/javascript" scr="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="myquery.js"></script>
<div class="resume">
  <div id="ed">
  <h3>Education</h3>
  <p>
    Degree:Associates</br>
    Major:communications</br>
    GPA upon graduatin:3.7</br>
  </p>
  </div>
  <div id="skills" >
  <h3>skills</h3>
  <p>
    <ul>
    <li>HTML/CSS</li>
    <li>Jquery</li>
    <li>responsive layout</li>
    <li>core javascript</li>
    <li>angular js</li>
    </ul>
  </p>
  </div>
  <div id="background" >
  <h3>Work experience</h3>
  <ul>
    <li>Junior Developer</li>     
      <li> "Team Poco"</br>
      2015-</li>
  </ul>
  </div>
</div>
