<div class="jumbotron">
  <h1>Hello world!</h1>
  <p class="lead">
    <img src="images/Chris.png" alt="Hi, I'm Christopher Medeiros"><br>
    My name is Christopher Medeiros</br>
     and I'd like to build your website.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div id="goals">
  <h4>My Goals</h4>
  <p>
   About a year ago I set out to become a web developer. I've come a long way since then.</br>
   Between classes at BCC and educating myself online in my spare time I've become able to hold my own</br>
   But I've still got a long way to go. Shout out to the guys from team "POCO" looking foward to working with </br>
   working with you guys in the future.</p>
  </div>
  <div id="motivation">
  <h4>My motivation</h4>
  <p>
   <img src="images/Conner_2.png" alt="My son"></img>
    This is Conner he's eight months old this week.</br>
    My son was my motivation to give chasing my dreams a second shot</br>
    I want my son to have every advantage I can possibly offer him.</br>
    Conner requires alot of love attention and dedication.</br>
    He's taught me about going the extra mile for the things you care about</br>
    and he still teaching me.
  </p>
  </div>
  <div >
  <h4>My Background</h4>
  <p>In 2009 I graduated with my associates in communications</br>
  I origionaly planned on working in film and television. unfortunately</br>
  I happened to have graduated during the height of the recession. I took on</br>
  an unpaid internship. After nearly two years of no pay and with no money to return to </br>
  school I decided to join a temp agency to pay the bills. </p>
  </div>
</div>
