<div class="jumbotron">
  <h1>Hello world!</h1>
  <p class="lead">
    <img src="images/me_and_conner.jpg" alt="Hi, I'm Christopher Medeiros"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div id="goals">
  <h4>My Goals</h4>
  <p>
   About a year ago I set out to become a web developer. I've come a long way since then.</br>
   Between classes at BCC and educating myself online in my spare time I've become able to hold my own</br>
   But I've still got a long way to go. Shout out to the guys from team "POCO" looking foward to working with </br>
   working with you guys in the future.</p>
  </div>
  <h4>My motivation</h4>
  <p>
   <img href="images/Conner.jpg" alt="My son"></img>
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
